*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: minmax(150px, auto) repeat(6, 100px);
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 2.3px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .88);
}
#span-two {
    grid-column: span 2 !important;
}
.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 13px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 12px;
}

.AC {
    border-top-left-radius: 10px;
}
.division {
    border-top-right-radius: 10px;
}
.ANS {    border-bottom-left-radius: 20px;
}
.equals {
    border-bottom-right-radius: 20px;
}

.output > .previous-operand {
    color: rgba(255, 255, 255, .95);
    font-size: 1.5rem;
}
.output > .current-operand {
    color: rgba(255, 255, 255, .95);
    font-size: 2.5rem;
}

@media screen and (max-width: 900px) {
    .calculator-grid {
        grid-template-columns: repeat(6, 59px);
        grid-template-rows: repeat(6, 120px);
        margin-top: 22px;
    }

    .output {
        margin-top: -40px;
    }
    .calculator-grid > button{
        font-size: unset;
        font-weight: 600;
    }
}